node_modules/
.env
.DS_Store
*.log
.homeybuild/

# Working art files (sources for icons/images, not shipped)
*.sketch
*.sketch.zip
spaces_-*
hyperhdr.png
hyperhdr.svg
hyperhdrlogo*.png
hyperhdr-app-image.png
app-image-small.png
app-image-large.png
app-image-xlarge.png
driver-image.png
driver-image-small.png
driver-image-large.png
driver-image-xlarge.png
hyperhdr-icon.svg
